/**********classes**********/

body{
  background-color: white;
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin: 0px;
}

h1{
  margin: 150px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Nothing You Could Do', cursive;
  color: #112D4E;
  line-height: 2;
  padding: 10px 0 10px 0;

  
}
h2{
  font-family: 'Montserrat', serif;
  font-size: 2.5rem;
  color: #112D4E;
  font-weight: normal;
  padding: 10px 0 10px 0;

}
h3{
  color: #3F72AF;
  padding: 10px 0 10px 0;

}
hr{
  border-style: dotted none none;
  border-width: 5px;
  color: #112D4E;
  text-align: center;
  width: 2%;
}

p{
  margin: 30px 0px 30px 0px;
}


.bottom-cloud{
  position: absolute;
}
.bottom-container{
  background-color: #112D4E;
  padding: 40px 0px 40px 0px; 
}
.brandon-copyright{
  color: white;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #112D4E, #112D4E);
  background-image: -moz-linear-gradient(top, #112D4E, #112D4E);
  background-image: -ms-linear-gradient(top, #112D4E, #112D4E);
  background-image: -o-linear-gradient(top, #112D4E, #112D4E);
  background-image: linear-gradient(to bottom, #112D4E, #112D4E);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.contact-description{
  width: 40%;
  margin: 20px auto 60px;
}
.contact-me{
  padding-bottom: 60px;
}
.copyright{
  
}
.c-sharp-img{
  width: 25%;
  float: left;
  padding-right: 30px;
}
.footer-link{
  color:#DBE2EF;
  font-family: 'Monterrat', sans-serif;
  padding-top: 50px;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #3cb0fd;
}

.middle-container{
  background-color:#DBE2EF ;
}

.pro
{
  text-decoration: underline;
}
.profile{
  background-color: #DBE2EF;
}
.profile-pic{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-top: 50px;
}
.skills{
  background-color: #DBE2EF;
  color: #112D4E;
  padding-bottom: 10px;
  
}
.skill-row{
  width: 50%;
  margin: 50px auto 135px auto;
  text-align: left;
  line-height: 2;

}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}


.top-container{
  padding-top: 100px;
  background-color: #F9F7F7;
  position: relative;
  
}
.web-dev-img{
  width: 25%;
  float: right;
  padding-left: 30px;
}
