/**********classes**********/
body{
  background-color: white;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

h1{
  margin-top: 0px;
  font-family: 'Nothing You Could Do', cursive;
  
}
h2{
  

}
h3{

}


.bottom-cloud{
  position: absolute;
}
.c-sharp-img{
  width: 100px;
  height: 100px;
}

.pro
{
  text-decoration: underline;
}
.profile{
  background-color: #DBE2EF;
}
.profile-gif{
  width: 100px;
  height: 100px;
}
.skills{
  background-color: #3F72AF;
  color: #DBE2EF;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}


.top-container{
  padding-top: 100px;
  background-color: #F9F7F7;
  position: relative;
  
}
.web-dev{
  width: 100px;
  height: 100px;
}
