/**********classes**********/
body{
  background-color: white;
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin: 0px;
}

h1{
  margin: 150px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Nothing You Could Do', cursive;
  color: #112D4E;
  line-height: 2;
  padding: 10px 0 10px 0;

  
}
h2{
  font-family: 'Montserrat', serif;
  font-size: 2.5rem;
  color: #112D4E;
  font-weight: normal;
  padding: 10px 0 10px 0;

}
h3{
  color: #3F72AF;
  padding: 10px 0 10px 0;

}
hr{
  
}


.bottom-cloud{
  position: absolute;
}
.c-sharp-img{
  width: 25%;
  float: left;
  padding-right: 30px;
}
.footer-link{
  color:#3F72AF;
}

.pro
{
  text-decoration: underline;
}
.profile{
  background-color: #DBE2EF;
}
.profile-pic{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-top: 10px;
}
.skills{
  background-color: #DBE2EF;
  color: #112D4E;
  padding-bottom: 10px;
  
}
.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;

}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}


.top-container{
  padding-top: 100px;
  background-color: #F9F7F7;
  position: relative;
  
}
.web-dev-img{
  width: 25%;
  float: right;
  padding-left: 30px;
}
