/**********classes**********/
body{
  background-color: white;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

h1{
  margin: 150px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Nothing You Could Do', cursive;
  color: #112D4E;
  line-height: 2;

  
}
h2{
  font-family: 'Montserrat', serif;
  font-size: 2.5rem;
  color: #112D4E;
  font-weight: normal;

}
h3{
  color: #3F72AF;

}


.bottom-cloud{
  position: absolute;
}
.c-sharp-img{
  width: 100px;
  height: 100px;
}
.footer-link{
  color:#3F72AF;
}

.pro
{
  text-decoration: underline;
}
.profile{
  background-color: #DBE2EF;
}
.profile-gif{
  width: 100px;
  height: 100px;
}
.skills{
  background-color: #3F72AF;
  color: #DBE2EF;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}


.top-container{
  padding-top: 100px;
  background-color: #F9F7F7;
  position: relative;
  
}
.web-dev{
  width: 100px;
  height: 100px;
}
